<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<h3> Your Restaurants </h3>
<% @restaurant.each do |restaurant| %>
<p><%= restaurant.name %><br> <%= restaurant.photo %> <br> Capacity: <%= restaurant.capacity %> <br> <%= restaurant.genre %> <br> Price: <%= restaurant.price %> </p>
<%end %> <br>
<%= "My Reservations" %><br/>

<% @reservations.each do |reservation| %>
<p>
<%= link_to reservation.restaurant.name, restaurant_path(reservation.restaurant) %>
<%= reservation.time.strftime('%A, %d %b %Y %l:%M %p') %>
Guests #<%= reservation.guests%></p><br>
<% end %>

<a href="/restaurants/new">Create New Restaurant</a>


