<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<%= "My Reservations" %><br/>
<% @reservations.each do |reservation| %>
<p> <%= reservation.time %>
<%= reservation.guests%></p><br>
<% end %>

<a href="/restaurants/new">Create New Restaurant</a>


