<%= form_for([@restaurant, @reservation]) do |f| %>
	<% if @reservation.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved</h2>
			<ul>
				<% @reservation.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :time %><br>
		<%= f.datetime_select :time, discard_year: true, discard_minute: true, discard_month: true, start_hour: 12, end_hour: 20, ampm: true %>
	</div>

	<div class="field">
		<%= f.label :guests %><br>
		<%= f.text_field :guests %>
		
	</div>
	
	<div class="action">
		<%= f.submit %>
	</div>

<% end %>