<div class="top">
<p style="margin:0;">
Make a free reservation<br>
Treat your taste buds and explore your cities restaurants<br></p>

</div>
<% @restaurants.each do |a| %>
<div class= "restaurant">
<img src= "<%= a.photo %>" class="restaurant-img">
<div class="link">
<%=link_to "#{a.name}" , restaurant_path(a) %>
</div>
<div class="details">
Address:   <%= a.address %><br>
Genre:   <%= a.genre %><br>
Price:   <%= a.price %>$<br>
Capacity:   <%= a.capacity %>
</div>
</div>

<%end%>
