<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.photo %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.genre %></p>
<p>$<%= @restaurant.price %></p>

<% if current_user %>
<%= link_to "Book a Reservation!", restaurant_reservations_path(@restaurant) %>
<% else %>
  <p>Please<%= link_to " Log in ", new_session_path%>to Book a Reservation!</p>
  <% end %>